:root {
	--foreground: #caccf6;
	--background: #0a1207;
	--title: #F99904;
	--header: #23B8E7;

	--color0: #0a1207;
	--color1: #BDB416;
	--color2: #F99904;
	--color3: #5235B7;
	--color4: #A52EBF;
	--color5: #DE0FF1;
	--color6: #23B8E7;
	--color7: #caccf6;
	--color8: #8d8eac;
  
}
/* Basic */
html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body {
	color: var(--background);
	margin: 0;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 120%;
	font-family: Helvetica,Arial,sans-serif;
	scroll-behavior: smooth;
}

p,code { color: var(--foreground); }
p.text-body { text-align: left; width: clamp(0px, 80%, 900px); }
a { text-decoration: none; }
h1,h2,h3,h4,h5,h6 { color: var(--header); }

div.parallax-pane {
	box-sizing: border-box;
	min-height: 100vh;
	position: relative;
	transform-style: inherit;
	width: 100vw;
	text-align: center;

}
.title-pane::before {
	content: "";
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	display: block;
	background: url("./resources/source_code.jpg");
	background-size: cover;
	transform-origin: center center 0;
	transform: translateZ(-14px) scale(15);
	z-index: -1;
	min-height: 100vh;
}
.title-pane h1, .title-pane h2 {
	text-transform: uppercase;
	text-shadow: 6px 6px 3px var(--background);
	color: var(--title);
}
.title-pane h1{
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translate(0%, -50%);
	font-size: 220%;
}
.title-pane h2 {
	position: absolute;
	top: 56%;
	left: 5%;
	transform: translate(0%, -50%); 
	font-size: 120%;
	opacity: 0.6;
}
.title-pane img {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, 0%); 
	width: 35px;
}

/* Wrapper for rest of article */
div.content {
	z-index: 2;
	position: absolute;
	top: 100vh;
	background: var(--background);
	line-height: 140%;
	color: grey;

	display: flex;
	flex-flow: column;
	align-items: center;

	margin: 0;
	padding: 0;
	text-align: center;
	width: 100vw;
}
.content p { width: clamp(0px, 80vw, 800px); }

div.content-pane {
	display: flex;
	flex-flow: row;
	height: 100vh;
	width: 100vw;
	margin-top: 3%;
}
.content-pane h2 {
	margin: 3% 20% 0% 5%;
}



/*
background: linear-gradient(
rgba(105, 211, 252, 0.25) 0%,
rgba(255, 116, 161, 0.25) 86%,
rgba(1, 0, 0, 0.25) 100%
);*/
